[flake8]
; T001: print is allowed in methods and CLI tools
; E501: black line length is set, but some lines can't be shorter
; W503: black formats binary operators differently
; D202: blank line is fine when line after newline is comment
; E203: black formats slices differently
ignore = T001,W503,E501,D202,E203
exclude = tests/
